<div class="ml2" class="filter-container">
    <div (click)="toggleFilter()">
        <mat-icon class="icon-class" fontIcon="filter_list_alt"></mat-icon>

        <mat-label class="">Filter</mat-label>
    </div>

    <div class="filter-ui" *ngIf="isFilter">
        <mat-card class="filter-ui-container">
            <div class="filter-internal-ui">
                <form [formGroup]="filterForm" (ngSubmit)="ApplyFilter(filterForm.value)">
                    <div class="filter-inputs">
                        <ng-container *ngIf="!showUserType; else userType">
                            <div class="first-container council-control">
                                <mat-form-field appearance="outline">
                                    <mat-label>Council</mat-label>
                                    <mat-select (selectionChange)="getDeparmentsList($event.value)"
                                        formControlName="council">
                                        <ng-container *ngFor="let council of councilsList">
                                            <mat-option [value]="council.ticketCouncilId">{{council.ticketCouncilName}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="first-container council-control">
                                <!-- <ng-container *ngIf="!isManagement; else departmentText"> -->
                                    <mat-form-field appearance="outline">
                                        <mat-label>Department</mat-label>
                                        <mat-select formControlName="department">
                                            <ng-container *ngFor='let department of departmentsList'>
                                                <mat-option [value]="department.ticketDepartmentId">{{department.ticketDepartmentName}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <ng-container *ngIf="departmentsList.length === 0 && filterForm.get('council').value">
                                            <span class="errorMessage">
                                                There are no departments
                                            </span>
                                        </ng-container>
                                    </mat-form-field>
                                <!-- </ng-container>
                                <ng-template #departmentText>
                                    <mat-form-field class="search">
                                        <mat-label>Department</mat-label>
                                        <input matInput appearance="standard" formControlName="department" placeholder="Department" />
                                    </mat-form-field>
                                </ng-template> -->
                            </div>
                        </ng-container>
                        <ng-template #userType>
                            <div class="first-container council-control">
                                <mat-form-field appearance="outline">
                                    <mat-label>UserType</mat-label>
                                    <mat-select formControlName="userType" (selectionChange)="removeDepartmentValidation()">
                                        <ng-container *ngFor='let userType of userTypesList'>
                                            <mat-option [value]="userType.userTypeId">{{userType.userTypeName}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-template>

                        <ng-container *ngIf="!isManagement">
                            <div class="first-container date-class">
                                <mat-form-field>
                                    <mat-label>Enter a date range</mat-label>

                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date" formControlName="startDate" />

                                        <input matEndDate placeholder="End date" formControlName="endDate" />
                                    </mat-date-range-input>

                                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>

                    <div class="action-btns mr2">
                        <button type="reset" mat-raised-button class="mr1" (click)="resetFilter('')">
                            Reset
                        </button>

                        <button type="submit" mat-raised-button color="primary" [disabled]="!filterForm.valid">
                            Apply
                        </button>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>