<div class="login-page-container">
    <div class="mid-container">
        <!-- <div class="image-cls">
            <img style="width: 26rem;" src="../../assets/images/sunbird_logo.png" alt="UPSMF logo">
        </div> -->
        <div class="login-main-container">
            <div class="login-content">
                <h2 class="login-text">Change Password</h2>
                <!-- login section without otp -->
                <div class="login-inputs">
                   
                    <form class="form-section" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                        <div class="first-container">
                            <h4>New Password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>password</mat-label>
                                <input type="password" matInput placeholder="Enter password" formControlName="newPassword" >
                                <!-- <mat-error *ngIf="firstName && firstName.invalid && firstName.touched">please enter first name</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="first-container">
                            <h4>Confirm password</h4>
                            <mat-form-field appearance="outline" class="text-class">
                                <mat-label>password</mat-label>
                                <input type="password" matInput placeholder="Enter password" formControlName="confirmPassword">
                            </mat-form-field>
                            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.value !== resetPasswordForm.get('confirmPassword')?.value && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)">
                               Value does not match the entered Password
                            </mat-error>
                        </div>
                        <div class="first-container">
                            <button class="text-class action-btns" [disabled]="!resetPasswordForm.valid" type="submit" mat-raised-button color="primary">CHANGE PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
