<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div id="dashboard" class="content">
    <div class="inner-content">
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <div class="pt1 pb2">
        <div *ngIf="!isDataLoading" class="clearfix custom-margin mxn1">
          <form [formGroup]="filterForm">
            <div class="flex flex-wrap justify-end custom-align">
                <div class="pr2">
                    <mat-form-field appearance="outline">
                        <mat-select multiple formControlName="grievanceType" placeholder="Department" (selectionChange)="grievanceSelected($event)">
                          <span *ngFor='let grievance of grievancesTypes;let i = index'>
                            <mat-option [value]="grievance.id">{{grievance.name}}</mat-option>
                          </span>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="pr2">
                    <mat-form-field appearance="outline">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date" (dateInput)="changeEvent('startDate', $event)" (dateChange)="changeEvent('endDate', $event)">
                          <input matEndDate placeholder="End date" (dateInput)="changeEvent('endDate', $event)" (dateChange)="changeEvent('endDate', $event)">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                </div>
                <div class="action-btns">
                  <button type="reset" mat-raised-button class="mr1" (click)="resetFilter()">
                      Reset
                  </button>

                  <button type="button" mat-raised-button color="primary" (click)="applyFilter()">
                      Apply
                  </button>
              </div>
            </div>
            </form>
        </div>
        <div *ngIf="!isDataLoading" class="clearfix mxn1 mt2">
            <div class="flex flex-wrap">
            <div class="col col-6 px1">
                <div class="p2" style="background-color: white">
                    <div>
                    <label class="title">Ticket assignment matrix</label>
                    <p class="desc">Percentage of approved work allocation order by MDO</p>
                    <app-shared-table [hasFilterOptions]="false" [tableColumns]="assignmentMatrixColumns" [tableData]="assignmentMatrixData" [isPageable]="false"></app-shared-table>
                  </div>
                  </div>
            </div>
            <div class="col col-6 px1">
                <div class="p2" style="background-color: white">
                    <div>
                    <label class="title">Key performance indicators</label>
                    <p class="desc">Percentage of approved work allocation orders by MDO</p>
                    <div style="display: flex; justify-content: space-between; text-transform: capitalize; padding-top:10px; padding-bottom:10px; padding-left: 10px; padding-right: 10px; background-color: #f6f6f6;" class="mt1" *ngFor="let item of dashboardData.performanceIndicators | keyvalue">
                        <span>{{camelCaseToWords(item.key)}}</span>
                        <span>{{item.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
            </div>
            <div class="col col-12 px1 mt2">
                <div class="p2" style="background-color: white;height: 100%">
                    <label class="title">Ticket resolution matrix</label>
                    <p class="desc">Comprehensiveness of tagged roles in this MDO</p>
                    <app-shared-table [hasFilterOptions]="false" [tableColumns]="resolutionMatrixColumns" [tableData]="resolutionMatrixData" [isPageable]="false"></app-shared-table>
                  </div>
            </div>
        </div>
        </div>
    </div>
</div>