<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div id="dashboard" class="content">
    <div class="inner-content">
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <ng-container *ngIf="!isDataLoading">
        <div class="pt1 pb2">
          <img src="assets/images/back-button.png" title="back"  class="back-btn" (click)="navigateToHome()"  width="30" height="30">
          <div class="user-container">
            <h2 class="user-text-heading">Dashboard</h2>
        </div>
        <div class="clearfix custom-margin mxn1">
          <form [formGroup]="filterForm">

            <div class="flex controls-gap mb2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="council" placeholder="Council" (selectionChange)="getDeparmentsList($event.value)">
                  <ng-container *ngFor="let council of councilsList">
                    <mat-option [value]="council.ticketCouncilId">{{council.ticketCouncilName}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="department" placeholder="Department" (selectionChange)="getUsers()">
                  <ng-container *ngFor='let department of departmentsList'>
                    <mat-option [value]="department.ticketDepartmentId">{{department.ticketDepartmentName}}</mat-option>
                  </ng-container>
                </mat-select>
                <ng-container *ngIf="departmentsList.length === 0 && filterForm.get('council').value">
                  <span class="errorMessage">
                      There are no departments
                  </span>
                </ng-container>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="user" placeholder="Users">
                  <span *ngFor='let user of usersList;let i = index'>
                    <mat-option [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                  </span>
                </mat-select>
                <ng-container *ngIf="usersList.length === 0 && filterForm.get('department').value && !usersLoading">
                  <span class="errorMessage">
                      There are no users
                  </span>
                </ng-container>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="startDate" [value]="startDate"
                    (dateInput)="changeEvent('startDate', $event)" (dateChange)="changeEvent('startDate', $event)">
                  <input matEndDate placeholder="End date" formControlName="endDate" [value]="endDate"
                    (dateInput)="changeEvent('endDate', $event)" (dateChange)="changeEvent('endDate', $event)">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>  
            <div class="flex flex-wrap justify-end custom-align mb3">
              <div class="action-btns">
                <button type="reset" mat-raised-button class="mr1 apply-btn" (click)="resetFilter()">
                    Reset
                </button>

                <button class="apply-btn" type="button" mat-raised-button color="primary" (click)="applyFilter()">
                    Apply
                </button>
                <button type="button" mat-raised-button color="primary" class="ml1 mr1" (click)="downloadDetails()">
                  Download
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix mxn1 mt2">
            <div class="flex flex-wrap">
            <div class="col col-6 px1">
                <div class="p2" style="background-color: white">
                    <div>
                    <label class="title">Ticket Assignment Matrix</label>
                    <p class="desc">Percentage of approved work allocation order by MDO</p>
                    <app-shared-table [hasFilterOptions]="false" [tableColumns]="assignmentMatrixColumns" [tableData]="assignmentMatrixData" [isPageable]="false"></app-shared-table>
                  </div>
                  </div>
            </div>
            <div class="col col-6 px1">
                <div class="p2" style="background-color: white">
                    <div>
                    <label class="title">Key Performance Indicators</label>
                    <p class="desc">Percentage of approved work allocation orders by MDO</p>
                    <div style="display: flex; justify-content: space-between; text-transform: capitalize; padding-top:10px; padding-bottom:10px; padding-left: 10px; padding-right: 10px; background-color: #f6f6f6;" class="mt1" *ngFor="let item of dashboardData.performanceIndicators | keyvalue">
                        <span>{{camelCaseToWords(item.key)}}</span>
                        <span>{{item.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
            </div>
            <div class="col col-12 px1 mt2">
                <div class="p2" style="background-color: white;height: 100%">
                    <label class="title">Ticket Resolution Matrix</label>
                    <p class="desc">Comprehensiveness of tagged roles in this MDO</p>
                    <app-shared-table [hasFilterOptions]="false" [tableColumns]="resolutionMatrixColumns" [tableData]="resolutionMatrixData" [isPageable]="false"></app-shared-table>
                  </div>
            </div>
        </div>
        </div>
      </ng-container>
    </div>
</div>