.table1, .table2 {
        width: -moz-available; 
        width: -webkit-fill-available;
        width: stretch;
    }

.dashboard-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
