<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="content">
    <div>
    <!-- manage user table -->
   <div class="main-wrapper-usertable">
     <img src="assets/images/back-button.png" title="back"  class="back-btn" (click)="navigateToHome()"  width="30" height="30">

    <div class="user-container">
     <h2 class="user-text-heading">{{'User List'}}</h2>
     <button  mat-raised-button color="primary" (click)="goToUserDetail()">Add user</button>
     </div>
     <div class="user-table-wrapper">
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <div *ngIf="!isDataLoading"style="display: flex; flex-direction: row;">
          <div style="display: flex; flex-direction: row;" *ngIf="!isDataLoading">
            <div>
              <form [formGroup]="searchForm" >
              <mat-form-field style="width: 305px;">
                <input
                  matInput
                  formControlName="searchData"
                  appearance="standard"
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search Name, Email, Phone number"
                />
              </mat-form-field>
              </form>
            </div>

            <app-common-filter *ngIf="!isDataLoading"
            [councilsList]="councilsList"
            [departmentsList]="departmentsList"
            [rolesList]="rolesList"
            [councilId]="councilId"
            [departmentId]="departmentId"
            [roleID]="roleID"
            [showRoles]="true"
            [showUserType]="false"
            [noDepartments]="noDepartments"
            (getDepearmentsOfCouncil)="getDeparmentsList($event)"
            (filteredvalue)="onClickApplyFilter($event)" 
            (resetFilterValue)="resetFilterValueData($event)"
          ></app-common-filter>
          </div>
        
      </div>
        <!-- <app-shared-table *ngIf="!isDataLoading" [tableColumns]="usersTableColumns" [tableData]="users" [isPageable]="true"
          [length]="length" [pageSize]="pageSize" [isServerSidePagination]="true" > -->
         <app-shared-table *ngIf="!isDataLoading" [tableColumns]="usersTableColumns" [tableData]="users" [isPageable]="true"
         [length]="length" [pageSize]="pageSize" [hidePageSize]="false" [showPageSizeOptions]="true" [showFirstLastButtons]="true" [pageIndex]="pageIndex" 
         (editData)="goToUserDetail($event)" [isServerSideSorting]="true" (toggleData)="toggleUserStatus($event)" [isServerSidePagination]="true" (pageChange)="handlePageChange($event)">
         </app-shared-table>

    <!-- </app-shared-table> -->
     </div>
</div>
</div>

</div>
