<div class="container-full">
    <div class="breadcrumb">
        <div class="breadcrumb-titles">
            <mat-icon class="icon-cls">home</mat-icon>
            <span class="navigationcls" style="color: gray;">Dashboard</span>
            <span class="navigationcls" style="color: dodgerblue;">Manage User</span>
        </div>
    </div>
    <div class="second-main-wrapper">
    <!-- manage user table -->
   <div class="main-wrapper-usertable">
    <div class="user-container">
     <h2 class="user-text-heading">{{'Manage User'}}</h2>
     <button  mat-raised-button color="primary"(click)="addUserFn()">Add user</button>
     </div>
</div>
</div>

</div>
