.attachment-label {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: absolute;
}

.attachment-label.left {
    left: 0;
    font-weight: 700;
}

.attachment-label.right {
    right: 0;
    font-weight: 700;
    color: rgb(4, 93, 173);
    cursor: pointer;
}

.attachment-view {
    width: 100%;
    height: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.empty-content-class {
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}