<!-- <div>
   
        <div class="ml4 body-header flex justify-between items-center mb-4 ">
            <h2 class="ml4">Ticket Details </h2>
            <div class="button-group ">
                <button mat-stroked-button color="primary" class="ml2">Back</button>
                <button mat-stroked-button color="primary" class="ml2">Mark as Junk</button>
                <button mat-stroked-button color="primary" class="ml2">Assign</button>
            </div>
        </div>
    </div>
    <div class="flex flex-column">
        <div class="flex flex-row  ml4">
            <div class="flex flex-column ml3 mt3 mr3">
                <h3>Ticket ID</h3>
                    <p >{{ticketId}}
                    </p>
            </div>
            <div class="flex flex-row  ml4 mr4">
                </div>
                <div class="ml4 flex flex-column mt3">
                <h3 >Grievance Raiser</h3>
                    <p >{{grievanceRaiser}}
                    </p>
                    
            </div>
        </div>
        <div class="ml4  flex flex-row  ">
            <div class="flex flex-column ml3 mt3">
                <h3 >Creation Time</h3>
                    <p >{{creationTime}}
                    </p>
                    
            </div>
            <div class="flex flex-row  ml4 mr4">
            </div>
            <div class="ml4 flex flex-column mt3">
                <h3 >Escalation Time</h3>
                        <p >{{escalationTime}}
                        </p>
                    
                    
            </div>
        </div>
        <div class="flex flex-row  mt2 ml3 ">
            <div class="ml4 flex flex-column mt3">
                <h3 >Type of Grievance</h3>
                        <p >{{grievanceType}}
                        </p>
                    
                    
            </div>
            <div class="flex flex-row  ml4 mr4">
            </div>
            <div class="ml3 flex flex-column mt3">
                <h3 >User Type</h3>
                    <p >{{userType}}
                    </p>
            </div>

        </div>

        <div class="flex flex-row  ml4 mt3">
            <div class="flex flex-column ml3 mt2">
                <h3 class="mb1 mt2" style="font-weight:400">Description</h3>
                <p >{{desc}}
                </p>
            </div>
        </div>

        <div class="flex flex-row  ml4 mt3">
            <div class="flex flex-column mt1 ml3">
                <h3 class="mb1 mt2" style="font-weight:400">Attached documents</h3>
            </div>
            <div class="ml4 flex flex-row">
                <mat-form-field class="ml3" appearance="outline" style="width:16.5rem">
                    <mat-label>Select from the list</mat-label>
                    <mat-select (selectionChange)="grievanceOfficerSelected($event)" formControlName="grievanceOfficer">
                        <span *ngFor='let officer of grievancesOfficersArray;let i = index'>
                            <mat-option [value]="officer">{{officer}}</mat-option>
                        </span>
                    </mat-select>
                    
                </mat-form-field>
                 </div>
        </form>
        <div *ngIf="selectedOfficer" class="flex flex-row  ml4 mt1">
            <div class="flex flex-column mt1">
               
                    <div  class="flex flex-row ml2" >
                        
                    
                                <mat-list>
                                <mat-list-item>{{ selected }}  <span class="mt2 ml4" (click)="previewSelectedFile(index)"><a>View</a></span></mat-list-item>
                                <mat-divider></mat-divider>
                                
                                </mat-list> 
                        
                    </div>
            </div>

            <ng-template class="ml4" #noFilesAttached>

                <div  class="flex flex-row ml2 ml4 ml4 ">
                -
            </div>
            </ng-template>
        </div>

        <form [formGroup]="grievanceAssignerformGroup">
        <div class="flex flex-row  ml4 mt3">
            <div class="flex flex-column mt1 ml3">
                <h3 class="mb1 mt2" style="font-weight:400">Assign  to</h3>
            </div>
            
        </div>
        <div class="ml4 flex flex-row">
            <mat-form-field class="ml3" appearance="outline" style="width:16.5rem">
                <mat-label>Select from the list</mat-label>
                <mat-select (selectionChange)="grievanceOfficerSelected($event)" formControlName="grievanceOfficer">
                    <span *ngFor='let officer of grievancesOfficersArray;let i = index'>
                        <mat-option [value]="officer">{{officer}}</mat-option>
                    </span>
                </mat-select>
                
            </mat-form-field>
            <span>  <button mat-stroked-button color="primary" class="ml2">Add</button></span>
         </div>
    </form>
    <div *ngIf="selectedOfficer" class="flex flex-row  ml4 mt1">
        <div class="flex flex-column mt1">
            
                <div  class="flex flex-row ml2" >
                    
                            <mat-list>
                            <mat-list-item>{{ selectedOfficer }}  
                                <mat-icon role="button" class="mt2 ml4" (click)="removeSelectedOfficer($event)"><a>delete</a></mat-icon></mat-list-item>
                            <mat-divider></mat-divider>
                            </mat-list> 
                </div>
        </div>

    </div>
        <br /> <br /> <br /> <br /> <br /> <br /> <br />
    </div>
     
   
</div> -->
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<app-shared-skeleton-loading [isLoading]="isDataLoading"></app-shared-skeleton-loading>
<div class="content"  *ngIf="!isDataLoading">
  <img src="assets/images/back-button.png" title="back"  class="back-btn" (click)="navigateToHome()"  width="30" height="30">

  <div class="second-main-wrapper">
    <div class="user-form-container">
      <div class="user-container">
        <h2 class="user-text-heading">{{currentTabName}}</h2>
        <div class="action-btns">
          <button mat-raised-button class="MR15" *ngIf="userRole === 'Nodal Officer' && currentTabName !== 'Resolved'"
            (click)="handleClick('markothers')">Mark As Others</button>
          <button mat-raised-button class="MR15" *ngIf="!(currentTabName == 'Resolved' || currentTabName == 'Junk')"
            (click)="handleClick('markjunk')">Mark As Junk</button>

            <button type="submit" mat-raised-button color="primary" *ngIf="userRole === 'Grievance Nodal' && (currentTabName == 'Not Assigned' || currentTabName === 'Pending')"
            (click)="handleClick('assign', assignGrievanceTypeForm.value)" [disabled]="!assignGrievanceTypeForm.valid">Assign</button>

          <!-- <button mat-raised-button color="primary" style="margin-right: 15px;">Resolved</button> -->
          <span *ngIf="userRole == 'Secretary'">
            <button type="submit" mat-raised-button color="primary" *ngIf="currentTabName == 'Junk'"
              (click)="handleClick('unjunk')">Unmark as junk</button>
            <button type="submit" mat-raised-button color="primary" *ngIf="currentTabName == 'Resolved'"
              (click)="handleClick('reopen')">Reopen</button>
            <button type="submit" mat-raised-button color="primary"
              *ngIf="(currentTabName == 'Escalated to me' || currentTabName == 'Not Assigned' || currentTabName == 'Pending' || currentTabName === 'Nudged')"
              (click)="handleClick('nudge')">Send Reminder</button>
          </span>
          <button type="submit" *ngIf="userRole === 'Nodal Officer' && currentTabName !== 'Resolved'"
            [disabled]="!grievanceResolutionForm.valid" (click)="handleClick('resolved',grievanceResolutionForm.value)"
            mat-raised-button color="primary">
            Mark as resolved
          </button>
        </div>
      </div>
      <div class="form-container">
        <div class="form-internal-wrapper">
          <h1>{{ "Ticket Details" }}</h1>
          <div class="wrapper-form">
            <div class="first-row-container mt3">
              <div class="first-container">
                <mat-label class="label-text">Ticket ID</mat-label>
                <h3 class="textData">{{ ticketDetails?.id }}</h3>
              </div>
              <div class="first-container">
                <mat-label class="label-text">Grievance Raiser</mat-label>
                <h3 class="textData">{{ ticketDetails?.firstName}} {{ticketDetails?.lastName}}</h3>
              </div>
            </div>
            <div class="first-row-container mt3">
              <div class="first-container">
                <mat-label class="label-text">Raiser Email</mat-label>
                <h3 class="textData">{{ ticketDetails?.email }}</h3>
              </div>
              <div class="first-container">
                <mat-label class="label-text">Raiser Phone Number</mat-label>
                <h3 class="textData">{{ ticketDetails?.phone}}</h3>
              </div>
            </div>
            

            <div class="first-row-container mt2">
              <div class="first-container">
                <mat-label class="label-text">Creation Time</mat-label>
                <h3 class="textData">{{ ticketDetails?.createdDate !== null ? (ticketDetails?.createdDate | date:'yyyy-MM-dd HH:mm:ss') : '-'}}</h3>
              </div>
              <div class="first-container">
                <mat-label class="label-text">Escalation Time</mat-label>
                <h3 class="textData">{{ ticketDetails?.escalatedDate !== null ? (ticketDetails?.escalatedDate | date:'yyyy-MM-dd HH:mm:ss') : '-'}}</h3>
              </div>
            </div>

            <div class="first-row-container mt2">
              <div class="first-container">
                <mat-label class="label-text">User Type</mat-label>
                <div class="first-container">
                  <h3 class="textData">{{ ticketDetails?.ticketUserType?.userTypeName }}</h3>
                </div>
              </div>
              <div class="first-container">
                <mat-label class="label-text">Owner Email</mat-label>
                <h3 class="textData">{{ ticketDetails?.ownerEmail ? ticketDetails?.ownerEmail : '-' }}</h3>
              </div>
            </div>

            <div class="first-row-container mt2">
              <div class="first-container">
                <mat-label class="label-text">Council</mat-label>
                <h3 class="textData">{{ticketDetails?.ticketCouncil?.ticketCouncilName}}</h3>
              </div>
              <div class="first-container">
                <mat-label class="label-text">Department</mat-label>
                <h3 class="textData">{{ticketDetails?.ticketDepartment?.ticketDepartmentName}}</h3>
              </div>
            </div>

            <div class="first-row-container mt2">
              <div class="desc-content">
                <mat-label class="label-text">Description</mat-label>
                <h3 class="textData">{{ ticketDetails?.description }}</h3>
              </div>
            </div>

            <ng-container *ngIf="ticketDetails?.otherByReason && currentTabName === 'Not Assigned'">
              <div class="first-row-container mt2">
                <div class="desc-content">
                  <mat-label class="label-text">Reason for marking as others</mat-label>
                  <h3 class="textData">{{ ticketDetails?.otherByReason}}</h3>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="ticketDetails?.junkByReason && currentTabName === 'Junk'">
              <div class="first-row-container mt2">
                <div class="desc-content">
                  <mat-label class="label-text">Reason for marking as junk</mat-label>
                  <h3 class="textData">{{ ticketDetails?.junkByReason}}</h3>
                </div>
              </div>
            </ng-container>

            <div class="first-row-container mt2">
              <div class="desc-content">
                <mat-label class="label-text">Attached Document (s)</mat-label>
                <div class="attach-docs" *ngFor="let attachment of ticketDetails?.raiserTicketAttachmentURLs">
                  <span style="width: 23rem">{{ attachment.attachmentName }}</span>
                  <a target="_blank" class="action-buttons" href={{attachment.attachment_url}}><span>{{ "view" }}</span></a>
                </div>
                <div *ngIf="ticketDetails?.raiserTicketAttachmentURLs?.length === 0">-</div>
              </div>
            </div>
            <!-- nodal officer -->
            <mat-divider *ngIf="userRole === 'Nodal Officer' || 'Grievance Nodal' && currentTabName !== 'Resolved'"
              style="margin-top:1rem !important"></mat-divider>
            <form [formGroup]="grievanceResolutionForm">
              <div *ngIf="userRole === 'Nodal Officer' && currentTabName !== 'Resolved'" id="nodal"
                class="resolution-class">
                <!-- <mat-form-field> -->
                <mat-grid-list cols="6" rowHeight="10rem" [gutterSize]="'100px'">
                  <mat-grid-tile colspan="3" rowspan="1" style="position: relative;">
                    <mat-form-field class="resolution-form">
                      <mat-label>Enter resolution description</mat-label>
                      <textarea formControlName="description" matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
                    </mat-form-field>
                    <span class="description-note" [ngClass]="grievanceResolutionForm.get('description')?.hasError('maxlength') ? 'mat-mdc-form-field-error' : ''">
                      Max characters limit: 2500
                    </span>
                    <span class="description-count" *ngIf="grievanceResolutionForm.get('description')?.value">
                      count: {{grievanceResolutionForm.get('description')?.value.length}}
                    </span>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="6" rowHeight="26px" [gutterSize]="'100px'">
                  <mat-grid-tile colspan="3" rowspan="1">
                    <mat-label class="attachment-label left">Attach file (s)</mat-label>
                    <mat-label class="attachment-label right" (click)="fileupload.click()">+ Add attachments</mat-label>
                    <input hidden id="fileUpload" #fileupload formControlName="attachments" type="file"
                      (change)="handleFileUpload($event)" multiple accept=".pdf, .jpeg, .png, .jpg" />
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="6" rowHeight="8rem" [gutterSize]="'100px'">
                  <mat-grid-tile colspan="3" rowspan="1">
                    <mat-card class="attachment-view">
                      <!-- if no files are available -->
                      <mat-card-content class="empty-content-class" *ngIf="files.length == 0">Supports only PDF, JPEG,
                        JPG, PNG
                        size of 5MB.</mat-card-content>
                      <mat-card-content class="view-files" *ngIf="files.length > 0">
                        <div *ngFor="let file of files; let i = index" class="preview">
                          <div class="layout">
                            <span>{{ file.name }}</span>
                            <div>
                              <span class="action-buttons" (click)="removeSelectedFile(index)">Delete</span>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
                <span class="error">{{ fileUploadError }}</span>
              </div>
            </form>
            <div *ngIf="(currentTabName === 'Resolved')" class="resolution-class">
              <mat-label class="label-text">Resolution Comment (s)</mat-label>
              <div class="mt1 mb1" *ngFor="let comment of ticketDetails?.comments; let i = index"> 
                <span class="textData resolutionComments">{{comment.comment}}</span>
              </div>
              <div class="mt2">
              <mat-label class="label-text">Resolution Attachments (s)</mat-label>
              <mat-card-content style = "padding-left: 0px;" *ngIf="ticketDetails?.assigneeTicketAttachment?.length > 0">
                <div *ngFor="let attachment of ticketDetails?.assigneeTicketAttachment; let i = index" class="preview" style="width:36rem">
                  <div class="layout" style="width: 36rem;
                  overflow-wrap: anywhere;">
                    <span style="width:30rem">{{ attachment.attachmentName }}</span>
                    <div>
                      <a target="_blank" class="action-buttons" href={{attachment.attachment_url}}><span>view</span></a>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <div *ngIf="ticketDetails?.assigneeTicketAttachment?.length === 0"> - </div>
              </div>
              <ng-container *ngFor="let feedBack of feedBackDetails">
                <div class="first-row-container mt2">
                  <div class="desc-content FeedbackRating">
                    <mat-label class="label-text">Resolution Rating</mat-label>
                    <h3 class="textData">{{feedBack?.rating}} out of 5</h3>
                  </div>
                </div>
                <div class="first-row-container mt2">
                  <div class="desc-content">
                    <mat-label class="label-text">Resolution Feedback</mat-label>
                    <h3 class="textData">{{ feedBack?.comment }}</h3>
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="mt2" *ngIf="userRole === 'Grievance Nodal' && (currentTabName === 'Not Assigned' || currentTabName === 'Pending')">
              <h4>{{currentTabName === 'Not Assigned' ? 'Assign To' : 'Reassign To'}}</h4>
              <form [formGroup]="assignGrievanceTypeForm">
                <div class="clearfix mxn2 mt1">
                  <div class="sm col sm-col-12 md-col-4 lg-col-4 px2">
                      <h4>Council</h4>
                      <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>Council</mat-label>
                          <mat-select formControlName="council" (selectionChange)="getDeparmentsList($event.value)">
                              <ng-container *ngFor='let council of councilsList'>
                                  <mat-option [value]="council.ticketCouncilId">{{council.ticketCouncilName}}</mat-option>
                              </ng-container>
                          </mat-select>
                          <!-- <mat-error *ngIf="assignGrievanceTypeForm.get('council')?.invalid">
                            Council is required !!
                          </mat-error> -->
                      </mat-form-field>
                  </div>
                  <div class="sm col sm-col-12 md-col-4 lg-col-4 px2">
                      <h4>Department</h4>
                      <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>Department</mat-label>
                          <mat-select formControlName="department" (selectionChange)="getUsers()">
                              <ng-container *ngFor='let department of departmentsList'>
                                  <mat-option [value]="department.ticketDepartmentId">{{department.ticketDepartmentName}}</mat-option>
                              </ng-container>
                          </mat-select>
                          <mat-error *ngIf="departmentsEmpty">
                              No active department
                          </mat-error>
                          <!-- <mat-error *ngIf="assignGrievanceTypeForm.get('department')?.invalid">
                            Department is required !!
                          </mat-error> -->
                      </mat-form-field>
                  </div>
                  <div class="sm col sm-col-12 md-col-4 lg-col-4 px2">
                      <h4>Assign to</h4>
                      <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>Assign to</mat-label>
                          <mat-select formControlName="user">
                              <ng-container *ngFor='let user of usersList;let i = index'>
                                <mat-option [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                              </ng-container>
                          </mat-select>
                          <mat-error *ngIf="usersEmpty">
                            No active users
                          </mat-error>
                          <!-- <mat-error *ngIf="assignGrievanceTypeForm.get('user')?.invalid">
                            Assignment to officer is required !!
                          </mat-error> -->
                      </mat-form-field>
                  </div>
               </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>