mat-icon.big-icon {
    font-size: 3rem;
    color: green;
    overflow: visible;
}

.small-font {
    font-size: 0.9rem;
    margin-top: -1rem;
}

.mdc-button.fit{
    width: 100%;
}

.resendOTP-class {
    /* display: block;
    width: 100%; */
    text-align: end;
    color: rgb(0, 116, 182);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 50px;
    right: 15px;
    cursor: pointer;
  }