mat-icon.big-icon {
    font-size: 3rem;
    color: green;
    overflow: visible;
}

.small-font {
    font-size: 0.9rem;
    margin-top: -1rem;
}

.mdc-button.fit{
    width: 100%;
}


@media all and (max-width: 1400px) {
    .resendOTP-class {
     text-align: end;
    color: rgb(0, 116, 182);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: initial !important;
    margin-top: -16px !important;
    margin-bottom: 10px !important;
    }
}
.resendOTP-class {
    /* display: block;
    width: 100%; */
    /* text-align: end;
    color: rgb(0, 116, 182);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 50px;
    right: 15px;
    cursor: pointer; */
    text-align: end;
    color: rgb(0, 116, 182);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 7.4rem;
    bottom: 14pm;
    right: 8rem;
    cursor: pointer;
    /* position: initial;
    margin-top: -16px; */
  }


  