<app-header></app-header>
<div class="container-full">
    <div class="breadcrumb">
        <div class="breadcrumb-titles">
            <mat-icon class="icon-cls">home</mat-icon>
            <span class="navigationcls" >Dashboard</span>
            <span class="navigationcls active" (click)="navigateToHome()">Manage User</span>
        </div>
    </div>
    <div class="second-main-wrapper">
<!-- create User form UI -->
<div class="user-form-container">
    <form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
    <div class="user-container">
        <h2 class="user-text-heading">{{isEditUser ? 'Edit User Details' : 'Create user'}}</h2>
        <div class="action-btns">
        <button  mat-raised-button color="primary" style="margin-right: 15px;" >Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Save</button>
       </div> 
     </div>
     <div class="form-container">
      <div class="form-internal-wrapper">
        <h1>{{'User Details'}}</h1>
        
            <div class="wrapper-form">
                <div class="first-row-container" style="margin-top: 4%;">
                    <div class="first-container">
                        <mat-form-field appearance="outline" class="text-class">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="Enter first name" formControlName="firstName" required>
                            <mat-error *ngIf="firstName && firstName.invalid && firstName.touched">please enter first name</mat-error>

                          </mat-form-field>
                    </div>
                    <div class="first-container">
                        <mat-form-field appearance="outline" class="text-class">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="Enter last name" formControlName="lastName" required>
                            <mat-error *ngIf="lastName && lastName.invalid && lastName.touched">please enter last name</mat-error>

                          </mat-form-field>
                    </div>
                </div>

                <div class="first-row-container" style="margin-top: 3%;">
                    <div class="first-container">
                        <mat-form-field appearance="outline" class="text-class">
                            <mat-label>Email id</mat-label>
                            <input matInput placeholder="pat@example.com" required formControlName="emailId" required>
                            <mat-error *ngIf="emailId && emailId.invalid && emailId.touched">please Enter email Id</mat-error>

                          </mat-form-field>
                    </div>
                    <div class="first-container">
                        <mat-form-field appearance="outline" class="text-class">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Enter Phone number" formControlName="phoneNumber" required>
                            <mat-error *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched">please Enter phone number</mat-error>

                          </mat-form-field>
                    </div>

                </div>

                <div class="first-row-container" style="margin-top: 3%;">
                    <div class="first-container">
                        <mat-form-field appearance="outline" class="text-class">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role">
                              <mat-option *ngFor="let item of roleList" [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="role && role.invalid && role.touched">please select role</mat-error>

                          </mat-form-field>
                    </div>

                </div>

                <div class="mt3">
                    <mat-label class="label-text">Active Status</mat-label>
                    <div class="first-container" style="margin-top: 3%;">
                        <mat-radio-group aria-label="Select an option" formControlName="activeStatus">
                            <mat-radio-button value="1" class="radio-btn" *ngFor="let item of optionList" [value]="item">{{item}}</mat-radio-button>
                           
                          </mat-radio-group>
                    </div>
                </div>
            </div>
      </div>
     </div>
  
    </form>

</div>
</div>

</div>
