/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/ngx-toastr/toastr.css";
@import 'ngx-toastr/toastr';
@import '../node_modules/css-star-rating/scss/star-rating';

.content {
    flex: 1;
    padding: 1rem 8rem; /* Add space on both sides */
    background-color: #F0F3F4;
    min-height: 98vh;
}

/** angular material table styles **/
// .mdc-data-table__table {
.mdc-data-table__cell {
    .mdc-button {
        color: rgba(0,0,0,0.6) !important;
        font-weight: 400;
        letter-spacing: 0.25px;
        line-height: 20px;
        opacity: 1;
        font-size: 14px;
        font-style: normal;
        font-family: 'Lato', sans-serif;
    }
}
.mdc-data-table__header-cell {
    color: rgba(0, 0, 0, 0.87);
    font-weight:700;
    letter-spacing: 0.25px;
    line-height: 20px;
    opacity: 1;
    font-size: 14px;
    font-style: normal;
    font-family: 'Lato', sans-serif;
}

#nodal {
    .mat-mdc-form-field {
        width: -moz-available; 
        width: -webkit-fill-available;
        width: stretch;
    }
}
.resolution-class {
    .mat-grid-tile-content {
        align-items: flex-start;
        justify-content: left;
    }
    .resolution-form .mat-mdc-text-field-wrapper {
        border-bottom: 0;
        border: 1px solid rgba(0,0,0,0.16);
    }
    .resolution-form .mdc-text-field, .mat-mdc-form-field-focus-overlay{
        background-color: white !important;
    }
}

.container-full {
    background-color: #F0F3F4;
}


.form-internal-wrapper {
    padding: 3%;
}

.gray-container {
    margin: 2rem 0;
    background-color: #efefef;
    padding: 1rem;
    border-radius: 10px;
}

#dashboard {
    .mat-mdc-form-field-infix {
        min-height: auto !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mdc-text-field--outlined .mdc-notched-outline {
        z-index: 0;
        background-color: white;
    }
    .mdc-text-field--filled {
        background-color: white !important;
    }
}

.raiser-radio-btn {
    .mdc-form-field{
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
    }
}

.mat-mdc-dialog-content.mdc-dialog__content {
max-height: inherit;
height: 100%;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: rgb(4, 93, 173) !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: rgb(4, 93, 173) !important;
}

@media all and (max-width: 768px) {
.cdk-overlay-pane {
    width: 80% !important;
}
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    .cdk-overlay-pane {
        width: 70% !important;
    }
}
.cdk-overlay-pane {
    width: 40%,
}


